@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Account File Contents</h1>

<button class="btn btn-primary" @onclick="showAccounts">Show Accounts</button> <br />

@if (contents == null)
{
    <p>Account list not loaded.</p>
}
else
{
    foreach (var line in contents)
    {
        @line <br />
    }
}

@code {
    string[] contents;

    private void showAccounts()
    {
        if (File.Exists("accounts.txt"))
        {
            contents = File.ReadAllLines("accounts.txt");
        }
    }
}
