@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Account File Contents</h1>

<button class="btn btn-primary" @onclick="showAccounts">Show Accounts</button>
<p>@contents</p>

@code {
    string contents;

    private void showAccounts()
    {
        contents = File.ReadAllText("accounts.txt");
    }
}
