@page "/"

<PageTitle>Index</PageTitle>

<h1>Make an account</h1>

<label>Name</label> <br />
<input type='text' @bind=newAccountName /> <br />
<button @onclick="makeAccount">Make Account</button> <br />
<button @onclick="saveAccounts">Save Accounts</button> <br />

<h1>Account List</h1>
@if (accounts.Count == 0)
{
    <p>No accounts in list.</p>
}
@foreach (var account in accounts)
{
    <p>@account.Name: @account.Balance.ToString("c")</p>
}

@code
{
    protected override void OnInitialized()
    {
        if (File.Exists("accounts.txt"))
        {
            var accountName = "";
            var balance = 0M;
            CheckingAccountLevel accountLevel;
            foreach (var line in File.ReadAllLines("accounts.txt"))
            {
                var parts = line.Split(':');
                if(parts[0] == "Name")
                {
                    accountName = parts[1];
                }
                else if(parts[0] == "Balance")
                {
                    balance = decimal.Parse(parts[1]);
                }
                else if(parts[0] == "AccountLevel")
                {                    
                    accountLevel = (CheckingAccountLevel)Enum.Parse(typeof(CheckingAccountLevel), parts[1]);
                    var account = new CheckingAccount(accountName, accountLevel);
                    accounts.Add(account);
                }
            }
        }
    }

    string newAccountName;
    List<Account> accounts = new();

    private void makeAccount()
    {
        var newAccount = new CheckingAccount(newAccountName, CheckingAccountLevel.HighRoller);
        accounts.Add(newAccount);
        newAccountName = null;
    }

    private void saveAccounts()
    {
        using (var writer = new StreamWriter("accounts.txt"))
        {
            foreach (var account in accounts)
            {
                account.Save(writer);
            }
            writer.Close();
        }
    }
}