@page "/"

<PageTitle>Index</PageTitle>

<h1>Make an account</h1>

<label>Name</label> <br />
<input type='text' @bind=newAccountName /> <br />
<button @onclick="makeCheckingAccount">Make Checking Account</button><button @onclick="makeSavingsAccount">Make Savings Account</button> <br />
<button @onclick="saveAccounts">Save Accounts</button> <button @onclick="Undo">Undo</button> <br />

<h1>Account List</h1>
@if (accounts.Count == 0)
{
    <p>No accounts in list.</p>
}
@foreach (var account in accounts)
{
    <p>@account.Name: @account.Balance.ToString("c")</p>
}

@code
{
    protected override void OnInitialized()
    {
        if (File.Exists("accounts.txt"))
        {
            accounts = Account.Load("accounts.txt");
        }
    }

    string newAccountName;
    List<Account> accounts = new();

    private void makeCheckingAccount()
    {
        accounts.Add(new CheckingAccount(newAccountName, CheckingAccountLevel.HighRoller));
        newAccountName = null;
    }

    private void makeSavingsAccount()
    {
        accounts.Add(new SavingsAccount(newAccountName));
        newAccountName = null;
    }

    private void saveAccounts()
    {
        using (var writer = new StreamWriter("accounts.txt"))
        {
            foreach (var account in accounts)
            {
                account.Save(writer);
            }
            writer.Close();
        }
    }

    private void Undo()
    {
        accounts.RemoveAt(accounts.Count - 1);
    }
}